<div class="car">
  {{#if cars}}
  <div class="container">
    <div class="row main-content my-5">
      <div class="col-4">
        <img src="{{cars.0.image}}" class="img-thumbnail" alt="car thumbnail" style="width:350px; height:250px;">
      </div>
      <div class="col-8">
        <a href="/car/{{car.0.id}}"></a>

        <h2 class="mb-3" style="font-weight: 600;">{{cars.0.name}}</h2>

        <div class="text-desc-content">
          <p class="mb-2">{{cars.0.plat_number}} <b>(${{cars.0.price}})</b></p>
          <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, sed corrupti, perferendis recusandae distinctio corporis vero optio animi sunt est repudiandae doloribus nisi quisquam numquam dicta reprehenderit deserunt sint ratione.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolores inventore eius non itaque asperiores, ipsum quia, accusamus dolor sed ut sint at! Fugiat doloribus, modi nemo quos, cum amet molestiae expedita voluptatem distinctio nam fuga veniam necessitatibus, dolorem quas iusto odio deserunt ducimus! Perferendis error omnis accusantium id ipsum.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-between">
      {{#each cars}}
        <div class="card m-1 px-0 col">
          <img src="{{this.image}}" class="card-img-top" alt="car thumbnail" style="width: 100%; height: 200px;">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.plat_number}} <b>(${{this.price}})</b></p>
            <a href="/car/{{this.id}}" class="btn btn-primary">Detail</a>
            <a href="#" class="btn btn-success px-3 disabled" aria-disabled="true">Rent</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
</div>

{{#if isCarRentOwner}}
<div class="show-data-table">
  <div class="container">
    <div class="row my-3">
      <div class="col">
        <h4>Tabel Type</h4>
        <table class="table table-striped">
          <thead class="table-dark">
            <th>No</th>
            <th>Type</th>
            <th>Action</th>
          </thead>
          <tbody>
            {{#each types}}  
            <tr>
              <td>{{this.no}}</td>
              <td>{{this.name}}</td>
              <td>
                <a href="/type/edit/{{this.id}}" class="btn btn-outline-success px-4">Edit</a>
                <a href="/type/delete/{{this.id}}" class="btn btn-outline-danger">Delete</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="col">
        <h4>Tabel Brand</h4>
        <table class="table table-striped">
          <thead class="table-dark">
            <th>No</th>
            <th>Brand</th>
            <th>Action</th>
          </thead>
          <tbody>
            {{#each brands}}
            <tr>
              <td>{{this.no}}</td>
              <td>{{this.name}}</td>
              <td>
                <a href="/brand/edit/{{this.id}}" class="btn btn-outline-success px-4">Edit</a>
                <a href="/brand/delete/{{this.id}}" class="btn btn-outline-danger">Delete</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    <div class="row my-3">
      <div class="col">
        <h4>Tabel Rent</h4>
        <table class="table table-striped">
          <thead class="table-dark">
            <th>No</th>
            <th>Car</th>
            <th>User</th>
            <th>Borrow Date</th>
            <th>Return Date</th>
            <th>Sub Total</th>
            <th>Action</th>
          </thead>
          <tbody>
            {{#each rents}}
            <tr>
              <td>{{this.no}}</td>
              <td>{{this.car_id}}</td>
              <td>{{this.user_id}}</td>
              <td>{{this.borrow_date}}</td>
              <td>{{this.return_date}}</td>
              <td>{{this.sub_total}}</td>
              <td>
                <a href="/rent/edit/{{this.id}}" class="btn btn-outline-success px-4">Edit</a>
                <a href="/rent/delete/{{this.id}}" class="btn btn-outline-danger">Delete</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{/if}}
